In [2]:
from utils import read_MoGCN_data

# Data
path_1 = "data/fpkm_data.csv" # RNA-seq
path_2 = "data/gistic_data.csv" # CNV
path_3 = "data/rppa_data.csv" # RPPA
path_4 = "data/sample_classes.csv" # GT labels

omics_data = read_MoGCN_data([path_1, path_2, path_3, path_4])

omics_data[0].head()

,Sample,RAB4B,TIGAR,RNF44,DNAH3,RPL23A,ARL8B,CALB2,MFSD3,PIGV,...,SLCO4C1,ARHGAP21,DDX47,POMZP3,SDS,TENM1,CYP4F2,PPP6R1,BATF3,OR8D4
0,A1-A0SF,2.067434,1.942403,3.560276,0.135735,7.743208,4.657533,1.223453,3.703006,2.805578,...,0.073609,2.762001,0.418301,3.851872,0.427608,0.094974,0.062719,4.067202,0.519763,0.0
1,A1-A0SJ,1.957792,1.300873,3.570082,0.069682,7.233006,5.461097,2.587125,3.860069,2.947874,...,0.524515,3.036548,0.133315,1.618410,0.839316,0.059009,0.038119,3.989149,0.261174,0.0
2,A1-A0SK,1.441807,3.745724,3.473475,0.109056,7.392388,4.063936,1.485730,3.576430,1.763526,...,2.022602,2.861571,0.961571,1.727583,1.018043,0.071582,0.013942,4.054611,1.266517,0.0
3,A1-A0SO,1.581208,2.554524,2.639751,0.004098,7.022142,6.033742,0.423807,2.604173,3.035735,...,1.356618,4.038301,0.385972,2.270792,2.287813,0.000000,0.000000,4.314811,0.163809,0.0
4,A1-A0SQ,3.570000,0.833485,2.794719,0.027372,7.337590,5.197790,0.830401,3.415020,3.195351,...,0.014459,2.211102,0.283034,2.602026,1.898632,0.007992,0.177719,2.928022,0.236619,0.0

In [1]:
from dataset import MoGCN_Dataset
from torch.utils.data import DataLoader

MoGCN = MoGCN_Dataset()

In [6]:
data_train = DataLoader(
    MoGCN,
    batch_size=64,
    shuffle=True
)

batch_idx, (x_omics, y_labels) = next(enumerate(data_train))

print("Batch "+str(batch_idx))
for omics in x_omics:
    print(omics.size())
print(y_labels.size())

/home/davide/Desktop/Projects/Multi-omics-data-integration-with-DL-approaches/prototype/dataset.py:47: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  torch.Tensor(omics.loc[idx, omics.columns != "Sample"])
/home/davide/Desktop/Projects/Multi-omics-data-integration-with-DL-approaches/prototype/dataset.py:51: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  label = torch.Tensor(self.gt_labels.loc[idx, self.gt_labels.columns == "class"])

Batch 0
torch.Size([64, 19580])
torch.Size([64, 19273])
torch.Size([64, 223])
torch.Size([64, 1])