In [4]:
from utils import read_MoGCN_data

# Data
path_1 = "data/fpkm_data.csv" # RNA-seq
path_2 = "data/gistic_data.csv" # CNV
path_3 = "data/rppa_data.csv" # RPPA
path_4 = "data/sample_classes.csv" # GT labels

omics_data = read_MoGCN_data([path_1, path_2, path_3])
gt_labels = read_MoGCN_data([path_4])[0]

for omics in omics_data:
    display(omics.head(1))

display(gt_labels.head(1))

,Sample,RAB4B,TIGAR,RNF44,DNAH3,RPL23A,ARL8B,CALB2,MFSD3,PIGV,...,SLCO4C1,ARHGAP21,DDX47,POMZP3,SDS,TENM1,CYP4F2,PPP6R1,BATF3,OR8D4
0,A1-A0SF,2.067434,1.942403,3.560276,0.135735,7.743208,4.657533,1.223453,3.703006,2.805578,...,0.073609,2.762001,0.418301,3.851872,0.427608,0.094974,0.062719,4.067202,0.519763,0.0

,Sample,CDK11A,NADK,PRKCZ,GNB1,SDF4,DVL1,MORN1,INTS11,ACAP3,...,CTAG1A,H2AB1,F8A2,F8A3,F8A1,H2AB3,H2AB2,VAMP7,IL9R,SPRY3
0,A1-A0SF,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,0,0,0,0

,Sample,1433EPSILON,4EBP1,4EBP1_pS65,4EBP1_pT37T46,53BP1,ACC_pS79,ACC1,AKT,AKT_pS473,...,CHK1_pS296,COG3,DUSP4,ERCC5,IGF1R_pY1135Y1136,IRF1,JAK2,P16INK4A,SHP2_pY542,PDL1
0,A1-A0SF,-0.14805,0.28069,-0.20683,0.043661,0.007723,0.73249,0.36581,0.20897,-0.045389,...,-0.07192,0.25539,-0.19709,-0.042783,0.1411,-0.2173,-0.25174,0.17445,0.46637,0.020988

    Sample  class PAM50Call_RNAseq
0  A1-A0SF      0             LumA

In [5]:
from dataset import MoGCN_Dataset
from torch.utils.data import DataLoader

MoGCN = MoGCN_Dataset(omics_data, gt_labels, "data/train_samples.csv")

data_train = DataLoader(
    MoGCN,
    batch_size=64,
    shuffle=True
)

batch_idx, (x_omics, y_labels) = next(enumerate(data_train))

print("Batch "+str(batch_idx))
for omics in x_omics:
    print(omics.size())
print(y_labels.size())

Batch 0
torch.Size([64, 19580])
torch.Size([64, 19273])
torch.Size([64, 223])
torch.Size([64, 1])